<%# declaration %>
<%
const findContentById = id => pageInfo.content.find(content => content.id === id);
const contentMain = findContentById('main');
const contentOverview = findContentById('overView');
%>
<%# /declaration %>

<%# insertContent %>
<% function insertContent(__output) { %>
<div class="HeroImage js-Parallax">
  <div class="HeroImage__inner js-Parallax__inner">
    <div class="HeroImage__image" style="background-image:url('/dest/images/about/hero.jpg')"></div>
  </div>
</div>
<section class="Module Module--top">
  <article class="Article Article--withColumn">
    <div class="Article__headingContainer">
      <%- include('../_include/_component/_heading', {
        setting: {
          text: contentMain.heading,
          isVertical: true,
          classNames: ['Module__heading Article__heading'],
        }
      }) %>
    </div>
    <!-- /.Article__headingContainer -->
    <div class="Article__body">
      <div class="Article__subsection">
        <h3 class="Article__headingSub"><%= contentMain.headingSub %></h3>
        <p class="Article__lead"><%= contentMain.lead %></p>
        <%- include('../_include/_component/_text', {
          setting: {
            text: contentMain.text,
          }
        }) %>
      </div>
      <div class="Article__subsection">
        <h3 class="Article__headingSub"><%= contentOverview.headingSub %></h3>
        <% contentOverview.list.forEach((list) => { %>
          <dl class="DescriptionList">
            <dt><%= list.term %></dt>
            <dd>
              <% if (Array.isArray(list.description)) { %>
                <ul class="DescriptionList__subList">
                  <% list.description.forEach((item) => { %>
                    <li class="DescriptionList__subListItem"><%= item %></li>
                  <% }); %>
                </ul>
              <% } else { %>
              <%- list.description %>
              <% } %>
            </dd>
          </dl>
        <% }); %>
      </div>
    </div>
    <!-- /.Article__body -->
  </article>
</section>

<% } %>
<%# /insertContent %>

<%# extend %>
<%- include ../_include/_layout/_base %>
<%# /extend %>