<%
const socialLinks = sitedata.common.info.socialLinks;
const getSocialLink = (id) => socialLinks.find(link => link.id === id);
const twitterLink = getSocialLink('twitter');
const facebookLink = getSocialLink('facebook');
%>
<header class="Header js-Header<%= isTop ? '' : ' is-show' %>">
  <div class="Header__columnMain">
    <a class="Header__logo" href="/">
      <h1>銭湯ぐらし</h1>
    </a>
  </div>
  <div class="Header__columnSub">
    <nav class="GrobalNavigationPc">
      <ul class="GrobalNavigationPc__list">
        <% sitedata.common.layout.navigation.forEach((item) => { %>
          <li class="GrobalNavigationPc__item">
            <a href="<%= item.path %>"><%= item.text %></a>
          </li>
        <% }); %>
      </ul>
    </nav>
    <ul class="SocialLinks SocialLinks--pc">
      <li class="SocialLinks__item SocialLinks__item--twitter"><a href="<%= twitterLink.url %>" target="_blank"><%= twitterLink.id %></a></li>
      <li class="SocialLinks__item SocialLinks__item--facebook"><a href="<%= facebookLink.url %>" target="_blank"><%= facebookLink.id %></a></li>
    </ul>
    <div class="GrobalNavigationSp__trigger js-GrobalNavigationSp__trigger"></div>
  </div>
</header>
<nav class="GrobalNavigationSp js-GrobalNavigationSp">
  <ul class="GrobalNavigationSp__list">
    <% sitedata.common.layout.navigation.forEach((item) => { %>
      <li class="GrobalNavigationSp__item">
        <a href="<%= item.path %>"><%= item.text %></a>
      </li>
    <% }); %>
  </ul>
</nav>