<% 
const isProjectPage = pageInfo.id === 'project';
const baseTitle = (isProjectPage ? projectInfo.title : pageInfo.title).replace(/\n/g, '');
const title = isTop ? baseTitle : `${baseTitle} - 銭湯ぐらし`;
const description = (isProjectPage ? projectInfo.text : pageInfo.content.find(content => content.id === 'main').text).replace(/\n/g, '　').replace(/<.+?>/g, '');
const path = isProjectPage ? 'project/' + projectInfo.id : pageInfo.id;
const baseUrl = sitedata.common.info.url;
const staticVersion = sitedata.common.info.version;
const url = isTop ? baseUrl : baseUrl + path +'/';
const assetsUrl = `${baseUrl}assets/images/`;
const ogImage = isTop ? `${assetsUrl}top/og.jpg` : `${assetsUrl + path}/hero.jpg`;
%>
<head>
<meta charset="UTF-8">
<title><%= title %></title>
<meta name="description" content="<%= description %>">
<meta property="fb:app_id" content="306929856428469" />
<meta property="og:title" content="<%= title %>" />
<meta property="og:url" content="<%= url %>" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:image" content="<%= ogImage %>" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="853" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@sentogurashi">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="<%= description %>">
<meta name="twitter:image:src" content="<%= ogImage %>">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<% if(isTop) { %>
<meta name="google-site-verification" content="oIhGG07K5eP0_scMyqal6daNoObMOdQOYAVcmCK0ays" />
<meta property="og:type" content="website"/>
<% } else { %>
<meta property="og:type" content="article"/>
<% } %>
<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/hannari.css">
<link rel="stylesheet" href="/dest/styles/main.css?v=<%= staticVersion %>">
<script src="/dest/scripts/common.bundle.js?v=<%= staticVersion %>"></script>
<% if(isTop) { %>
<script src="/dest/scripts/top.bundle.js?v=<%= staticVersion %>"></script>
<% } %>
</head>